var http = require('http');

http.createServer( function(req,res) {

        var currentTime = new Date();
        console.log('Client Called at '+currentTime);

        res.writeHead(200, {'Content-Type':'text/plain'});
        res.write('Hello World\n');
        res.write('You guys are in the server!');
        res.end();

}).listen('8124');
